<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

        <form [formGroup]="ocorrenciaForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-pencil"></i> Cadastro de ocorrência
              </h2>
            </div>
          </div>

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Local da ocorrência:</p>
            </div>
            <div class="col-sm-6 col-xs-12">
              <cav-input errorMessage="Campo obrigatório e com no mínimo 3 caracteres!" label="Rua">
                <input formControlName="rua" autocomplete="off" type="text" class="form-control" placeholder="Rua">
              </cav-input>
            </div>
            <div class="col-sm-2 col-xs-6">
              <cav-input errorMessage="Somente números" label="Número">
                <input [textMask]="{mask: numeroPattern}" formControlName="numero" autocomplete="off" type="text" class="form-control" placeholder="Número">
              </cav-input>
            </div>
            <div class="col-sm-4 col-xs-6">
              <cav-input errorMessage="Campo obrigatório e com no mínimo 3 caracteres!" label="Bairro">
                <input formControlName="bairro" autocomplete="off" type="text" class="form-control" placeholder="Bairro">
              </cav-input>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!--  row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Detalhes do veículo:</p>
            </div>
            <div class="col-sm-2 col-xs-6">
              <cav-input errorMessage="Campo obrigatório" label="Placa">
                <input [textMask]="{mask: placaPattern}" formControlName="placa" autocomplete="off" type="text" class="form-control" placeholder="Placa">
              </cav-input>
            </div>
            <div class="col-sm-2 col-xs-6">
              <div class="form-group">
                <cav-input errorMessage="Campo obrigatório" label="Chassis">
                  <input [textMask]="{mask: chassisPattern}" formControlName="chassis" autocomplete="off" type="text" class="form-control" placeholder="Chassis">
                </cav-input>
              </div>
            </div>
            <div class="col-sm-2 col-xs-6">
              <cav-input errorMessage="Campo obrigatório" label="Nº Motor">
                <input formControlName="numeroMotor" autocomplete="off" type="text" class="form-control" placeholder="Nº Motor">
              </cav-input>
            </div>
            <div class="col-sm-2 col-xs-6">
              <cav-input errorMessage="Campo obrigatório" label="Cor">
                <input formControlName="cor" autocomplete="off" type="text" class="form-control" placeholder="Cor">
              </cav-input>
            </div>
            <div class="col-sm-4 col-xs-12">
                <cav-select [options]="veiculoOptions" formControlName="tipoVeiculo" [label]="Tipo"></cav-select>
            </div>
            <div class="col-sm-12 col-xs-12">
              <cav-input errorMessage="Campo obrigatório" label="Descrição">
                <input formControlName="descricao" autocomplete="off" type="text" class="form-control" placeholder="Descrição">
              </cav-input>
            </div>

          </div>
          <!-- /.row -->

          <!--  row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Dados do proprietário:</p>
            </div>
            <div class="col-sm-4 col-xs-6">
              <cav-input errorMessage="Campo obrigatório" label="Nome do proprietário">
                <input formControlName="nomeProprietario" autocomplete="off" type="text" class="form-control" placeholder="Nome do proprietário">
              </cav-input>
            </div>
            <div class="col-sm-3 col-xs-6">
              <cav-input errorMessage="Campo obrigatório" label="telefoneProprietario">
                <input formControlName="telefoneProprietario" autocomplete="off" type="text" class="form-control" placeholder="Telefone do Proprietário">
              </cav-input>
            </div>
          </div>
          <!-- /.row -->

          <!--  row -->
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Detalhes da Ocorrência:</p>
            </div>
            <div class="col-sm-2 col-xs-6">
              <cav-select [options]="dpOptions" formControlName="dp" [label]="'Local de Registro'"></cav-select>
            </div>
            <div class="col-sm-4 col-xs-6">
              <cav-select [options]="ocorrenciaOptions" formControlName="tipoOcorrencia" [label]="Tipo"></cav-select>
            </div>
          </div>
          <!-- /.row -->

        </form>

        <div class="row">
          <div class="col-xs-12">
            <button (click)="registraOcorrencia(ocorrenciaForm.value)"
            [disabled]="!ocorrenciaForm.valid"
            class="btn btn-success pull-right">
              <i class="fa fa-check"></i> Concluir Ocorrência
            </button>
            <!-- <button (click)="testaServico()"
            class="btn btn-success pull-right">
              <i class="fa fa-check"></i> Testar Serviço
            </button> -->
          </div>
        </div>

    </section>
</section>
