<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

        <form [formGroup]="searchForm">
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-search"></i> Consultar Ocorrência
              </h2>
            </div>
          </div>

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Filtros da pesquisa:</p>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label class="control-label " for="inputSuccess"><i class="fa fa-user"></i> Proprietário</label>
                <input type="text" formControlName="nomeProp" class="form-control" id="inputSuccess" placeholder="Nome do proprietário">
              </div>
            </div>
            <div class="col-sm-2 col-xs-6">
              <div class="form-group">
                <label class="control-label " for="inputSuccess"><i class="fa fa-car"></i> Placa</label>
                <input formControlName="placa" type="text" class="form-control" id="inputSuccess" placeholder="Placa">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="col-sm-2 col-xs-6">
              <div class="form-group">
                <label class="control-label " for="inputSuccess"><i class="fa  fa-gears"></i> Nº Motor</label>
                <input type="text" formControlName="numeroMotor" class="form-control" id="inputSuccess" placeholder="Nº Motor">
                <!-- <span class="help-block"><i class="fa fa-check"></i> Ok</span> -->
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label class="control-label " for="inputSuccess"><i class="fa fa-ellipsis-h"></i> Chassis</label>
                <input type="text" formControlName="chassis" class="form-control" id="inputSuccess" placeholder="Chassis">
                <!-- <span class="help-block"><i class="fa fa-remove"></i> Help block with error</span> -->
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label " for="inputSuccess"><i class="fa fa-map-marker"></i> Local</label>
                <input type="text" formControlName="local" class="form-control" id="inputSuccess" placeholder="Local da Ocorrência">
              </div>
            </div>
            <div class="col-sm-2 col-xs-12">
              <div class="form-group">
                <label class="control-label" for="inputSuccess"><i class="fa fa-folder-open"></i> Nº Ocorrência</label>
                <input type="text" formControlName="numeroOcorrencia" class="form-control" id="inputSuccess" placeholder="Nº da ocorrência">
              </div>
            </div>
            <div class="col-sm-2 col-xs-6">
              <cav-select #dpselect [options]="dpOptions" formControlName="dp" [label]="'Local de Registro'"></cav-select>
            </div>
            <div class="col-sm-2 col-xs-6">
              <cav-select #tipoocorrenciaselect [options]="ocorrenciaOptions" formControlName="tipoOcorrencia"  [label]="'Ocorrência'"></cav-select>
            </div>
            <div class="col-sm-2 col-xs-5">
              <cav-select #situacaoselect [options]="situacaoOptions" formControlName="situacao"  [label]="'Situação'"></cav-select>
            </div>
            <div class="col-sm-5 col-xs-6">
              <cav-input errorMessage="Campo obrigatório">
                <label class="control-label" for="inputSuccess"><i class="fa fa-calendar"></i> Data Inicial</label>
                <input #iptDataInicial  autocomplete="off" type="date" class="form-control" formControlName="dataInicial" placeholder="Data de Inico">
              </cav-input>
            </div>
            <div class="col-sm-5 col-xs-6">
              <cav-input errorMessage="Campo obrigatório">
                <label class="control-label" for="inputSuccess"><i class="fa fa-calendar"></i> Data Final</label>
                <input #iptDataFinal  autocomplete="off" type="date" class="form-control" formControlName="dataFinal" placeholder="Data de Término">
              </cav-input>
            </div>




            <div class="col-sm-12 col-xs-12">
              <div class="form-group">
                <button (click)="pesquisarOcorrencias(searchForm.value)" class="btn btn-success pull-right">
                  <i class="fa fa-search"></i> Pesquisar
                </button>
              </div>
            </div>
          </div>

        </form>


  </section>

  <section [hidden]="!(searched && ocorrencias.length > 0)" class="invoice">
    <div class="box-body table-responsive no-padding">
        <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table table-hover">
          <thead>
            <tr>
              <th>Placa</th>
              <th>Tipo Veiculo</th>
              <th>Chassis</th>
              <th>Nº Motor</th>
              <th>Proprietário</th>
              <th>Situação</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ocorrencia of ocorrencias">
            <td><small>{{ocorrencia.veiculo.placa}}</small></td>
            <td><small>{{ocorrencia.veiculo.tipo}}</small></td>
            <td><small>{{ocorrencia.veiculo.chassis}}</small></td>
            <td><small>{{ocorrencia.veiculo.numeroMotor}}</small></td>
            <td><small>{{ocorrencia.veiculo.proprietario.nome}}</small></td>
            <td><span class="label"
                      [class.label-danger]="ocorrencia.situacao === 'PENDENTE'"
                      [class.label-success]="ocorrencia.situacao === 'CONCLUÍDA'" >{{ocorrencia.situacao}}</span></td>
            <td>
              <button [disabled]="ocorrencia.situacao === 'CONCLUÍDA'" (click)="concluirOcorrencia(ocorrencia, 'C')" class="btn btn-xs btn-success"><i class="fa fa-check"></i></button>
              <button [disabled]="ocorrencia.situacao === 'PENDENTE'" (click)="concluirOcorrencia(ocorrencia, 'R')" class="btn btn-xs btn-warning"><i class="fa fa-refresh"></i></button>
              <button class="btn btn-xs btn-info" (click)="openModalWithComponent(ocorrencia)"><i class="fa fa-pencil"></i></button>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
  </section>
  <div class="col-xs-12" *ngIf="ocorrencias.length === 0 && searched">
    <p class="lead text-center">
      Não foram encontradas ocorrências para sua busca.
    </p>
  </div>
</section>


<!-- Template do Modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left page-header">
      <i class="fa fa-pencil">
      </i>
       Editar Ocorrência
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

  </div>
</ng-template>
