<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

        <form>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-search"></i> Consultar Ocorrência
              </h2>
            </div>
          </div>

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Filtros da pesquisa:</p>
            </div>

            <div class="col-sm-2 col-xs-6">
              <div class="form-group">
                <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Placa</label>
                <input #iptPlaca type="text" class="form-control" id="inputSuccess" placeholder="Placa">
                <span class="help-block"></span>
              </div>
            </div>
            <div class="col-sm-2 col-xs-6">
              <div class="form-group">
                <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Nº Motor</label>
                <input type="text" #iptMotor class="form-control" id="inputSuccess" placeholder="Nº Motor">
                <!-- <span class="help-block"><i class="fa fa-check"></i> Ok</span> -->
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label sr-only" for="inputSuccess"><i class="fa fa-check"></i> Chassis</label>
                <input type="text" #iptChassis class="form-control" id="inputSuccess" placeholder="Chassis">
                <!-- <span class="help-block"><i class="fa fa-remove"></i> Help block with error</span> -->
              </div>

            </div>
            <div class="col-sm-2 col-xs-12">
              <div class="form-group">
                <button (click)="pesquisarOcorrencias(iptPlaca.value, iptMotor.value, iptChassis.value)" class="btn btn-success pull-right">
                  <i class="fa fa-search"></i> Pesquisar
                </button>
              </div>
            </div>
          </div>

        </form>


  </section>

  <section [hidden]="!(searched && ocorrencias.length > 0)" class="invoice">
    <div class="box-body table-responsive no-padding">
        <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions" class="table table-hover">
          <thead>
            <tr>
              <th>Placa</th>
              <th>Tipo Veiculo</th>
              <th>Chassis</th>
              <th>Nº Motor</th>
              <th>Proprietário</th>
              <th>Situação</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ocorrencia of ocorrencias">
            <td><small>{{ocorrencia.veiculo.placa}}</small></td>
            <td><small>{{ocorrencia.veiculo.tipo}}</small></td>
            <td><small>{{ocorrencia.veiculo.chassis}}</small></td>
            <td><small>{{ocorrencia.veiculo.numeroMotor}}</small></td>
            <td><small>{{ocorrencia.veiculo.proprietario.nome}}</small></td>
            <td><span class="label"
                      [class.label-danger]="ocorrencia.situacao === 'PENDENTE'"
                      [class.label-success]="ocorrencia.situacao === 'CONCLUÍDA'" >{{ocorrencia.situacao}}</span></td>
            <td>
              <button [disabled]="ocorrencia.situacao === 'CONCLUÍDA'" (click)="concluirOcorrencia(ocorrencia, 'C')" class="btn btn-xs btn-success"><i class="fa fa-check"></i></button>
              <button [disabled]="ocorrencia.situacao === 'PENDENTE'" (click)="concluirOcorrencia(ocorrencia, 'R')" class="btn btn-xs btn-warning"><i class="fa fa-refresh"></i></button>
              <button class="btn btn-xs btn-info" (click)="openModalWithComponent(ocorrencia)"><i class="fa fa-pencil"></i></button>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
  </section>
  <div class="col-xs-12" *ngIf="ocorrencias.length === 0 && searched">
    <p class="lead text-center">
      Não foram encontradas ocorrências para sua busca.
    </p>
  </div>
</section>


<!-- Template do Modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left page-header">
      <i class="fa fa-pencil">
      </i>
       Editar Ocorrência
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

  </div>
</ng-template>
