<div class="wrapper">

  <!-- Main Header -->
  <cav-header></cav-header>

  <div class="content-wrapper">
    <div class="container">

      <!-- INÍCIO DO CONTEÚDO -->
      <router-outlet></router-outlet>
      <!-- FIM DO CONTEÚDO -->
    </div>
    <!-- /.container -->
  </div>
  <cav-snackbar></cav-snackbar>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="container">
    </div>
    <!-- /.container -->
  </footer>
  <!-- Control Sidebar -->
</div>
<!-- ./wrapper -->
